<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thaimaa matkaopas | kummisetanithaimorsian.fi</title>
  <meta name="description" content="Rehellistä tietoa Thaimaan matkailusta ja kulttuurista">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/bulma-divider.min.css">

  <style>
    nav.navbar {
      height: 6rem !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    }
  </style>
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img style="max-height: 5.75rem!important"src="logo.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="https://kummisetanithaimorsian.fi/thaimaa-lomakohteet.html">
            Thaimaan lomakohteet
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="https://kummisetanithaimorsian.fi/vaimo-thaimaasta.html">
            Vaimo Thaimaasta
          </a>



        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <!-- Image -->
  <div class="container">
       <div class="section">
         <div class="columns">
         </div>

         <div id="app" class="row columns is-multiline">
           <div v-for="card in cardData" class="column is-6">
             <div class="card large">
               <div class="card-image">
                 <a href="http://kummisetanithaimorsian.fi/thaimaa-lomakohteet.html">
                 <figure class="image is-16by9">
                   <img src="thaimaa-lomakohteet.jpg" alt="Thaimaan Lomakohteet">
                 </figure></a>
               </div>
               <div class="card-content">
                 <div class="media">
                   <div class="media-content">
                     <a href="http://kummisetanithaimorsian.fi/thaimaa-lomakohteet.html" class="title is-4 no-padding">Thaimaan Lomakohteet</a>

                   </div>
                 </div>
                 <div class="content">
                   Mielessä matka Thaimaahan? Tässä parhaat Thaimaan lomakohteet listattuna
                 </div>
               </div>
             </div>
           </div>


           <div v-for="card in cardData" class="column is-6">
             <div class="card large">
               <div class="card-image">
                <a href="http://kummisetanithaimorsian.fi/vaimo-thaimaasta.html">  <figure class="image is-16by9">
                   <img src="THAIVAIMO.jpg" alt="Thaimaan Lomakohteet">
                 </figure></a>
               </div>
               <div class="card-content">
                 <div class="media">
                   <div class="media-content">
                     <a href="http://kummisetanithaimorsian.fi/vaimo-thaimaasta.html" class="title is-4 no-padding">Vaimo Thaimaasta</a>

                   </div>
                 </div>
                 <div class="content">
                   Vaimo Thaimaasta? Näin löydät kunnollisen Thaimaalaisen naisen
                 </div>
               </div>
             </div>
           </div>


         </div>


       </div>
     </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Kummisetanithaimorsian.fi 2021</strong>
    </div>
  </footer>

</body>

</html>
